In [ ]:
###Tag 26 und wir wollen heute in SQLite3 JOINs anwenden können. 
#Da wir uns nicht so gut zurecht finde aktuell suche ich ein gutes video und
#arbeite es durch und löse nachher die Übungsaufgaben und dann sollte es sitzen ^^

In [ ]:
import sqlite3
with sqlite3.connect('migros.db') as conn: 
    m = conn.cursor() 
    #m.execute("""CREATE TABLE IF NOT EXISTS kunden ( 
    #          id INTEGER,
    #          name TEXT,
    #          stadt TEXT 
    #)""")
    #m.execute("""CREATE TABLE IF NOT EXISTS bestellungen (
    #          id INTEGER,
    #          kunden_id INTEGER,
    #          datum INTEGER

    #)""")
    #m.execute("""CREATE TABLE IF NOT EXISTS bestellpositionen( 
    #          id INTEGER,
    #          bestellung_id INTEGER,
    #          produkt TEXT,
    #          menge INTEGER,
    #          preis INTEGER 
    #)""")
#bis jetzt keine errors weiter gehts mit den daten einfügen. INTEGER = ganze zahl wichtig
    #kunden = [
    #    (1, "Anna Müllu", "Börlin"),
    #    (2, "Olaf Scholz", "Hambörg"),
    #    (3, "Lisa Wagner", "Munich")
    #]
    #bestellung = [
    #    (1, 1, 11-10-2024),
    #    (2, 1, 15-11-2024),
    #    (3, 2, 30-12-2024)
    #]
    #positionen = [
     #   (1, 1, "Tastatur", 1, 45),
      #  (2, 1, "Muas", 2, 25),
      #  (3, 2, "Monitor", 1, 150),
     #   (4, 3, "USB-Kabel", 3, 5),
     #   (5, 3, "Laptop-Ständer", 1, 30)
    #]
    #m.executemany("INSERT INTO kunden VALUES (?, ?, ?)", kunden)
    #m.executemany("INSERT INTO bestellungen VALUES (?, ?, ?)", bestellung)
    #m.executemany("INSERT INTO bestellpositionen VALUES (?, ?, ?, ?, ?)", positionen)
#supi nun zum spassigen teil das programmieren schauen ob es wir hinbekommen.
#so jetzt wollen wir alle produkte über join herausgeben dies ist natürlich noch schwer
#aber kriegen wir schon hin. 
    m.execute("""
    SELECT kunden.name, bestellungen.datum 
    FROM bestellungen
    JOIN kunden ON bestellungen.kunden_id = kunden.id 
    """)#nee oder junge ich kriege kinder über wo ist dieser verdammte fehler!!!!1111¨!!!
    a = m.fetchall()
    for b in a :
        print(f"{b[0]} hat bestellt am {b[1]}")
#der code ist richtig heurika!! auch wenn er nichts zurückgibt und ich weiss nicht wieso
# der Grund war, dass oben m.executemany noch offen war und deswegen, hat es immer wieder die Daten 
# eingefügt und dann musste ich die Daten zuerst wieder rauslöschne und nachher es nochmals machen
# und dann ging es.

Anna Müllu hat bestellt am -2023
Anna Müllu hat bestellt am -2020
Olaf Scholz hat bestellt am -2006

In [12]:
with sqlite3.connect('migros.db') as conn: 
    m = conn.cursor()
    m.execute("""
    SELECT bestellpositionen.produkt, bestellpositionen.menge, bestellpositionen.preis,  bestellungen.datum
    FROM bestellpositionen
    JOIN bestellungen ON bestellpositionen.bestellung_id = bestellungen.id
    """)
    a = m.fetchall()
    for b in a :
        print(f"Produkt {b[0]} wurde {b[1]}mal zum preis {b[2]} bestellt")
#Hier ging es darum herauszufinden, wie viel von was bestellt wurde und zu welchen Preis.

Produkt Tastatur wurde 1mal zum preis 45.0 bestellt
Produkt Muas wurde 2mal zum preis 25.0 bestellt
Produkt Monitor wurde 1mal zum preis 150.0 bestellt
Produkt USB-Kabel wurde 3mal zum preis 5.0 bestellt
Produkt Laptop-Ständer wurde 1mal zum preis 30.0 bestellt

In [9]:
with sqlite3.connect('migros.db') as conn: 
    m = conn.cursor()
    m.execute("SELECT * FROM kunden")
    print("Kunden:", m.fetchall())

    m.execute("SELECT * FROM bestellungen")
    print("Bestellungen:", m.fetchall())

    m.execute("SELECT * FROM bestellpositionen")
    print("Bestellpositionen:", m.fetchall())
conn.close()
#Für die Überprüfung ob etwas in der Datenbank drinnen ist, da es vorher nicht geklappt hat.

Kunden: [(1, 'Anna Müllu', 'Börlin'), (2, 'Olaf Scholz', 'Hambörg'), (3, 'Lisa Wagner', 'Munich')]
Bestellungen: [(1, 1, '-2023'), (2, 1, '-2020'), (3, 2, '-2006')]
Bestellpositionen: [(1, 1, 'Tastatur', 1, 45.0), (2, 1, 'Muas', 2, 25.0), (3, 2, 'Monitor', 1, 150.0), (4, 3, 'USB-Kabel', 3, 5.0), (5, 3, 'Laptop-Ständer', 1, 30.0)]

In [ ]:
#Gib für jede Bestellung die Summe des Umsatzes (menge × preis) aus. 
# Hinweis: SUM(), GROUP BY nach Bestellung
with sqlite3.connect('migros.db') as conn: 
    m = conn.cursor()
    m.execute("""
    SELECT bestellpositionen.menge, bestellpositionen.preis, bestellpositionen.bestellung_id
    FROM bestellpositionen
    JOIN bestellungen ON bestellpositionen.bestellung_id = bestellungen.id
    """)#dieser teil bräuchte ich gar nicht zu mache gut zu wissen. 
    m.execute("""
    SELECT bestellung_id, SUM(menge * preis) AS umsatz
    FROM bestellpositionen
    GROUP BY bestellung_id
    """)
    a = m.fetchall()
    for b in a:
        print(f"Bestellung {b[0]} hat einen Gesamtumsatz von {b[1]} EUR")

Bestellung 1 hat einen Gesamtumsatz von 95.0 EUR
Bestellung 2 hat einen Gesamtumsatz von 150.0 EUR
Bestellung 3 hat einen Gesamtumsatz von 45.0 EUR

In [ ]:
with sqlite3.connect('migros.db') as conn: 
    m = conn.cursor()
    m.execute(""" 
    SELECT bestellung_id, SUM(menge * preis) AS umsatz, kunden.name 
    FROM bestellpositionen
    JOIN bestellungen ON bestellpositionen.bestellung_id = bestellungen.id
    JOIN kunden ON bestellungen.kunden_id = kunden.id 
    GROUP BY kunden.id 
    """)
    a = m.fetchall()
    for b in a :
        print(b)
#Hier ging es darum zu testen, wer welche Bestellung gemacht hat und wie viel er insgesamt Ausgegeben hat.
#Dies dann sortiert nach Kunden.

(1, 245.0, 'Anna Müllu')
(3, 45.0, 'Olaf Scholz')

In [ ]:
with sqlite3.connect('migros.db') as conn :
    m = conn.cursor()
    m.execute("""
    SELECT kunden.name, SUM(bestellpositionen.menge * bestellpositionen.preis) AS umsatz, 
    COUNT(bestellungen.id) AS anzahl_bestellungen
    FROM bestellpositionen
    JOIN bestellungen ON bestellpositionen.bestellung_id = bestellungen.id
    JOIN kunden ON bestellungen.kunden_id = kunden.id 
    GROUP BY kunden.id 
    HAVING SUM(menge * preis) > 100        
    """)
    a = m.fetchall()
    for b in a :
       print(f"{b[0]} - {b[1]} - {b[2]}")
#so würde es richtig aussehen, wichtig ist immer, SELECT COUNT FROM JOIN GROUP HAVING
#SQL ist ansich sehr simpel aber halt in pyhton deutlich schwerer als in sql selbst
#du kannst bei sum eingeben was du berechnen möchtest von wo es wird besser
#ein profi sind wir noch nicht aber es kommt mit der Zeit

Anna Müllu - 245.0 - 3

In [21]:
#Im ersten Lernblock eine SQL Datenbank anlegen und diese nach werten 
#sortieren.
#Ziel ist es meine eigene kleine Bibliotheke zu machen und diese dann zu verwalten.
#Mit paar Kunden und Bücher und dem Ausleihedatum 
#dafür benötigen wir drei table paar Bücher, Namen, Datum sollte nicht so schwer werden.

In [ ]:
#Hier ging es darum eine kleine Bibliothek zu machen und zu schauen wer etwas ausgeliehen hat oder nicht.
#An welchen Datum ausgeliehen wurde. 
import sqlite3
with sqlite3.connect('bibliothek') as conn :
    b = conn.cursor() 
    #b.execute("""CREATE table IF NOT EXISTS leser(
    #id INTEGER,
    #name TEXT)
    #""")

    #b.execute("""CREATE table IF NOT EXISTS bücher (
    #id INTEGER,
    #titel TEXT,
    #autor TEXT) 
    #""")
    #b.execute("""CREATE TABLE IF NOT EXISTS ausleihen(
    #id INTEGER,
    #leser_id INTEGER,
    #buch_id INTEGER,
    #datum TEXT)
    #""")
    books = [
    (1,  "Python für Einsteiger", "Max Muster"),
    (2,  "SQL Basics",  "Laura Beispiel"),
    ( 3,  "Data Science 101",  "Sam Statistik"),
    (4, "Visualisieren mit Power BI",  "Nina Grafik")
    ]
    readers = [
    ( 1, "Anna"),
    ( 2, "Ben"),
    ( 3, "Clara"),
    ( 4, "David")
    ]
    loans = [
    ( 1,  1,  2, "2025-05-10"),
    ( 2,  1,  1, "2025-05-12"),
    ( 3,  2,  3, "2025-06-01"),
    ( 4,  2,  2, "2025-06-03"),
    ( 5,  3,  4, "2025-06-15")
    ]
    b.executemany("INSERT INTO leser VALUES (?, ?)", readers)
    b.executemany("INSERT INTO bücher VALUES (?, ?, ?)", books)
    b.executemany("INSERT INTO ausleihen VALUES (?, ?, ?, ?)", loans)

In [ ]:
#Jetzt kommen wir zum programmieren und sortieren der Daten. 
with sqlite3.connect('bibliothek') as conn :
    b = conn.cursor() 
    b.execute("""SELECT leser.name, ausleihen.datum, ausleihen.leser_id
    FROM ausleihen
    JOIN leser ON ausleihen.leser_id = leser.id
    GROUP BY leser.name           
    """)
    m = b.fetchall() 
    for a in m :
        print(f"{a[0]} - {a[1]} ")
#im select is vermutlich der fehler die frage ist wie finde ich den heraus.
#Das Problem ist ich habe keine daten bezüglich häufigkeit und daher kann ich 
#nicht printen wer welches buch am häufigsten oder welches buch am häufigsten ausgelehnt wurde.

Anna - 2025-05-10
Ben - 2025-06-01
Clara - 2025-06-15

In [ ]:
with sqlite3.connect('bibliothek') as conn :
    b = conn.cursor()
    b.execute("""SELECT leser.name, ausleihen.datum, ausleihen.leser_id
    FROM ausleihen
    LEFT JOIN leser ON ausleihen.leser_id = leser.id
    """)
    m = b.fetchall()
    for a in m :
        print(f"{a[0]} - {a[1]}")
#so würde man sehen wann alles ein buch ausgeliehen wurde 
#jetzt kommen wir zum wer kein Buch ausgeliehen hat.

Anna - 2025-05-10
Anna - 2025-05-12
Ben - 2025-06-01
Ben - 2025-06-03
Clara - 2025-06-15

In [ ]:
with sqlite3.connect('bibliothek') as conn :
    b = conn.cursor()
    b.execute("""SELECT  ausleihen.datum, ausleihen.leser_id, leser.name
        FROM leser
        LEFT JOIN ausleihen ON leser.id = ausleihen.leser_id 
        WHERE ausleihen.leser_id IS NULL
        """)
    m = b.fetchall()
    print(m)
#Wichtig ist hier was willst du im left join haben und was muss nach from kommen 
#merke dir was im from ist ist auf der linken seite der tabelle sozusagen 
#klar kann man es testen aber trotzdem sollte man es wissen

[(None, None, 'David')]

In [ ]:
#Abschliessend lässt sich noch sagen, dass wir viel Lernen konnten und uns nun ein wenig besser zurecht
#finden in SQLite3 in Pyhton, wobei man sagen muss direkt in SQL zu programmieren is deutlich einfacher
#wegen der Syntaxe, hier muss man gefühlt mehr beachten. 
#Oben habe ich zwei kleine Datenbanken eingefügt einmal als Bibliothek und einmal als Shop.
#Ich konnte vieles durch Videos und KI üben und lernen und bei Fehler und Unklarheiten, diese
#durch Rückfrage klären und weiter nachdenken, bis ich zur Lösung kam, somit kann ich ein
#ideales Lernumfeld kreieren und gut Fortschritte machen.
#Dies ist mein erstes kleines Projekt für Git gewesen. =)